/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background-color: #990066;
}

p {
   color: #FFFFFF;
}


/* ==========================================================================
   Header
   ========================================================================== */
header {
      height: 450px;
}

.banner { }
.masthead { 
   background-color: #AD3385;
   }
.logo {
    height: 264px;
    max-width: 634px;   
    margin-left: auto;
    margin-right: auto;
    }

.featured {
   text-align: center;
}

.readmore a {
   text-decoration: none;
   text-transform: uppercase;
   color: #990066;
   padding: 0 5px;
   background-color: rgb(255,255,255);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px; 
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}




/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
footer {
   padding: 20%;
   background-color:rgba(255,255,255,0.1); 
}

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.bottomrow {
      padding: 20px, 0;
      background-color:rgba(255,255,255,0.2); 
}

.credits {
   text-align: right;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.navbar-nav.nav-justified > li{
      float:none;
  }
.navbar-nav {
  margin: 1px 1px; 
}  

.navbar-custom li {
    text-align: center;
}
  
/* customize nav style */
.navbar-custom {
    background-color:rgba(255,255,255,0.3);
    font-weight:700;
    text-transform:uppercase;
    border-width:0;
    padding: 7px, 0;
}
.navbar-custom  .navbar-nav>li>a {
   color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
   background-color: #000;
}
.navbar-custom .dropdown-menu{
   right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
   border-top-color: #999;
   border-bottom-color: #999;
}

.navbar-toggle {
   outline:0;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
