/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background-color: #990066;
   background-image: url("../img/bg.jpg")
}

p {
   color: #FFFFFF;
}

h1 {
   font-family: "proxima-nova";
   font-size: 30px;
   font-weight: 700;
   color: #FFF !important;
   text-transform: uppercase;
}

h2 {
   font-family: "proxima-nova";
   font-size: 18px;
   font-weight: 700;
   color: #FFF !important;
   text-transform: uppercase;  
}

h3 {
   font-family: "proxima-nova";
   font-size: 14px;
   font-weight: 700;
   color: #FFF !important;
   text-transform: uppercase;
   text-shadow: 2px 2px 2px rgba(10, 10, 10, .5);  
}

h4 {
   font-family: "proxima-nova";f
   ont-size: 14px;
   color: #FFF !important;
   text-transform: uppercase;  
}

h6 {
   font-size: 18px;
   color: #FFF !important;
   text-align: center;
        
}

a {
    color: #CCC;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:focus {
    color: #990066 !important;
    text-decoration: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
      height: 410px;
}

.banner { }
.masthead { }

.logo {
    height: 180px;
    max-width: 634px;   
    margin-left: auto;
    margin-right: auto;
    }

.featured {
   text-align: center;
}

.readmore > a {
   font-family: "proxima-nova";
   text-decoration: none;
   text-transform: uppercase;
   color: #990066;
   padding: 0 5px;
   background-color: rgb(255,255,255);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px; 
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}




/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.swirltop {
   height: 74px;
   max-width: 211px;
   margin-left: auto;
   margin-right: auto; 
   background-image: url("../img/fil-up.png");
}

.swirlbottom {
   height: 74px;
   max-width: 205px;
   margin-left: auto;
   margin-right: auto;  
   background-image: url("../img/fil-down.png");
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
footer {
   padding: 5% 0 5%;
   background-color:rgba(255,255,255,0.1); 
}

.content-info { }

.pandora {
   height: 70px;
   max-width: 375px;
}

.pandoratext {
   max-width: 450px;
   overflow: hidden;
   font-size: 18px;
   font-weight: 700;
   color: #FFF !important;
   text-transform: uppercase; 
}

.panreadmore > a {
   text-decoration: none;
   text-transform: uppercase;
   color: #990066;
   padding: 0 5px;
   background-color: rgb(255,255,255);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px; 
}

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

#social-float>ul{
   display: none;
}

#social-float>ul>li>a>i{
   color: #fff;
   text-decoration: none;
} 
  
#social-float>ul>li>a>i:hover {
color: #99CCFF!important;
}

#social-float>#menu-social-navigation > li:nth-child(6){
   margin-right: 10px;
  }
#social-float>#menu-social-navigation>li{
   float: left;
   margin-right: 22px;
   color: #fff;
}
#social-float>ul{
   right: 50%;
   margin-right: -150px;
   margin-top: 20px;
   bottom: 5px;
   display: block;
   list-style: none;
}

.img-link {
   height: 2em;
   max-width: 100%
}

.bottomrow {
      background-color:rgba(255,255,255,0.2); 
      bottom: 0px;
}

#mc_embed_signup {
    background: none repeat scroll 0% 0% transparent !important;
    clear: none !important;
}

#mce-EMAIL {
   width: 250px;
   height: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 0;   
}

#mc-embedded-subscribe {
   text-decoration: none;
   text-transform: uppercase;
   color: #990066;
   padding: 0 5px;
   background-color: rgb(255,255,255);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   border: 0; 
}

.sponslogo {
   height: 70px;
}

.sponstext {
   font-size: 18px;
   font-weight: 700;
   color: #FFF !important;
   text-transform: uppercase;
   text-align: center;
   padding: 20px 0 0 0;
}

.credits {
   text-align: right;
}

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.navbar {
   padding: 15px 0;
}

.navcontainer {
   max-width: 900px;
}

.navbar-nav.nav-justified > li{
      float:none;
  }
.navbar-nav {
  margin: 1px 1px; 
}  

.navbar-custom {
    font-family: "proxima-nova";
    background-color:rgba(255,255,255,0.1);
    font-weight:700;
    text-transform:uppercase;
    border-width:0;   
}
.navbar-custom li {
    text-align: center;
}

.navbar-custom  .navbar-nav>li>a {
   color: #FFF;
   font-size: 18px;
   text-shadow: 2px 2px 2px rgba(10, 10, 10, .5);
}

.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
   background: none;
}

.navbar-custom .dropdown-menu{
   right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
   border-top-color: #999;
   border-bottom-color: #999;
}

.navbar-toggle {
   outline:0;
}

.excerpt {
   text-align: left !important;
}

.homefeature {
   padding: 5% 10% 40%;
}

.readmore > a:hover {
   color: #444;
}
.signup{
    float: left;
    display: block;
}

.pandorawrapper {
    width: 900px;
    overflow: hidden;
    display:block;
    margin:auto;
    padding-bottom: 20px;
}

.pandora {
      float: left;
      margin: 0 5px 0  0;
}

.panreadmore > a {
   float:right;
}

.panreadmore > a:hover {
   color: #444;
}

.linkswrapper {
   max-width: 1200px;
   overflow: hidden;
   display: block;
   margin: auto;
   padding: 60px 0 0 0;
   float: none;
}

.social-nav {
   float: left;
}

#social-float>ul {
   float: left;
   margin-top: 5px;
   left: 0px;
   display: block;
   list-style: none;
}

.stores-nav {
   float: right;
}

#stores-float>ul {
   float: right;
   margin-top: 5px;
   left: 0px;
   display: block;
   list-style: none;
}

.sponswrapper {
   width: 900px;
   display: block;
   margin: auto;
   padding: 90px 0;
   float: none;
}

.newsinfo {
   padding: 10% 0 10% 0;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
